.empty-cell {
	background: none !important;
	background-color: transparent !important;
}

.gwt-Button {
	margin: 12px !important;
}

html, body {
	background-color: darkgreen !important;
	height: 100% !important;
}

.border-me {
	border: 2px solid black;
	margin: 5px;
}

.column tbody tr {
    display:block;
    height:2.2rem;
    top:0px;
    overflow: hidden;
}

.column tbody tr:last-child {
    overflow: unset;
}

.column tbody tr td {
    overflow: hidden;
}
.card {
	background: white !important;
	border: 2px solid black !important;
	border-radius: 5px;
	margin-top: 0px !important;
	padding: 2px !important;
}
